.main_page {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.taq_name {
  background-color: 
  #c4c3c5;
  border: 1px solid black;
  border-radius: 7px;
  width: 100px;
  margin-right: 5px;
}
.taq_name:hover {
  background-color: 
  #969597;
  
}
.submit_arrow {
  width: 80px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  margin-right: 50px;
  margin-top: -40px;
}
.add_sign {
  height: 2em;
  width: 2em;
  color: grey;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
}